@use "./assets/sass/_variables.scss" as *;

.app {
 
    text-align: center;
display: flex;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;

.tickets{
  display: flex;
  flex-direction: row;
}


    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 20px;
    }
  
}

@media screen and (min-width: 992px) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, min-content);
    justify-content: space-around;
    flex-direction: row;
    flex-direction: row;
flex-wrap: wrap;

  }
  .tickets{
    justify-content: space-around;
    flex-direction: row;
    size: 60%;
  }
}